<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="10874Tomato.TomatoMusic" Publisher="CN=054DD4F6-0572-4A2D-AF34-B9CF23FCCE83" Version="1.1.11.0" />
  <mp:PhoneIdentity PhoneProductId="0a423cf2-2085-4807-9c41-42b6bdbf3257" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>ms-resource:AppName</DisplayName>
    <PublisherDisplayName>SunnyCase</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Tomato.TomatoMusic.Shell.App">
      <uap:VisualElements DisplayName="ms-resource:AppName" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="Tomato.TomatoMusic.Shell" BackgroundColor="#007acc">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" ShortName="ms-resource:AppName">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#007acc" />
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="portrait" />
          <uap:Rotation Preference="landscape" />
          <uap:Rotation Preference="portraitFlipped" />
          <uap:Rotation Preference="landscapeFlipped" />
        </uap:InitialRotationPreference>
      </uap:VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="Tomato.TomatoMusic.AudioTask.BackgroundAudioTask">
          <BackgroundTasks>
            <Task Type="audio" />
          </BackgroundTasks>
        </Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="tomato.tomatomusic">
            <uap:DisplayName>ms-resource:AppName</uap:DisplayName>
            <uap:Logo>Assets\StoreLogo.scale.png</uap:Logo>
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="audio/mp3">.mp3</uap:FileType>
              <uap:FileType ContentType="audio/wma">.wma</uap:FileType>
              <uap:FileType ContentType="audio/wav">.wav</uap:FileType>
              <uap:FileType ContentType="audio/ogg">.ogg</uap:FileType>
              <uap:FileType ContentType="audio/flac">.flac</uap:FileType>
              <uap:FileType ContentType="audio/tak">.tak</uap:FileType>
              <uap:FileType ContentType="audio/aac">.aac</uap:FileType>
              <uap:FileType ContentType="audio/alac">.alac</uap:FileType>
              <uap:FileType ContentType="audio/m4a">.m4a</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <uap:Capability Name="musicLibrary" />
    <uap:Capability Name="removableStorage" />
  </Capabilities>
</Package>